<% for(var i = 0, len = data.list.length; i <len; i++) { %>
    <% var l = data.list[i]; %>
        <div class="musixiser" id="id<%-l.uid%>" data-name="<%-l.name%>" data-uid="<%-l.uid%>">
            <div class="l-avatar">
                <img src="<%-l.userAvatar%>" data-name="<%-l.name%>" data-uid="<%-l.uid%>">
            </div>
            <div class="info">
                <!-- <p class="nationality">China</p> -->
                <div class="section-one">
                    <img class="s-avatar" src="<%-l.userAvatar%>">
                </div>
                <div class="section-two">
                    <p class="name"><%-l.realname%></p>
                </div>
                <p class="listener-total"><span><%-l.audienceNum%></span>在听</p>
            </div>
            <% if(l.stageTitle) { %>
                <p class="caption"><%-l.stageTitle%></p>
            <% } %>
        </div>
<% } %>
