
<% if(data.followStatus) { %>
  <div class="follow-status active"></div>
<% } else { %>
    <div class="follow-status inactive"></div>
<% }%>

<div class="avatar">
    <img src="<%-data.largeAvatar%>">
    <div class="gradient-mask"></div>
    <p class="realname"><%-data.realname%></p>
    <div id="relation-tab">
      <div id="watchhim">
        <span class="superscript"><%-data.fansNum%></span>
      </div>
      <div id="hewatch">
        <span class="superscript"><%-data.followNum%></span>
      </div>
    </div>
</div>

<div class="intro">
  <% if(data.introduction) { %>
  <%-data.introduction%>
  <%} else { %>
  此处应有个人介绍
  <% }%>
</div>

<div class="section-spliter"></div>

<div class="tab-container">
  <div class="active tab" id="work-tab">作品</div>
  <div class="tab" id="live-tab">直播</div>
</div>

<div class="work-list">

</div>
<div class="live-list">

</div>
