<div class="follow-status">
  <% if(data.followStatus) { %>
    未关注
  <% } else { %>
    已关注
  <% }%>
</div>
<div class="avatar">
    <img src="<%-data.largeAvatar%>">
</div>

<div class="core">
    <div class="name"><span><%-data.realname%></span></div>
    <div class="following"><span>Ta关注的人<%-data.followNum%></span></div>
    <div class="fans"><span>关注Ta的人<%-data.fansNum%></span></div>
    <!-- <div class="gender">性别<span>男</span></div> -->
  <!--   <div class="rank">排名<span>老二</span></div> -->
</div>

<div class="musixiserID">musixiser ID: <%-data.userId%></div>
