<% if(data.length) { %>
    <ul>
    <% for(var i = 0, len = data.length; i <len; i++) { %>
        <% var l = data[i]; %>
        <li data-id="<%-l.id%>">
            <div class="info" data-id="<%-l.id%>">
                <img data-id="<%-l.id%>" class="work-cover" src="<%-l.cover?l.cover:l.owner.smallAvatar%>"></img>
                <div data-id="<%-l.id%>" class="work-body">
                  <span data-id="<%-l.id%>" class="work-body-title"><%-l.title%></span>
                  <span data-id="<%-l.id%>" class="work-body-desc"><p><%-l.content%></p></span>
                  <!--<span><%-new Date(l.createdDate)%></span>-->
                </div>
                <!--<div class="work-extra">
                  <% if (data.followStatus){%>
                      <span data-likeid="<%-l.id%>">like</span>
                  <%}else{%>
                      <span data-likeid="<%-l.id%>">like not</span>
                  <%}%>
                </div>-->
            </div>
        </li>
    <% } %>
    </ul>
<% } %>
