  <div id="bg"><img src="<%-data.backgroundSprite||'http://gw.alicdn.com/tps/TB1hrh4JVXXXXaCXXXXXXXXXXXX-980-756.png'%>" id="bgi" /></div>
  <div id="top-layer">
    <div id="tl-stage">
      <div class="patcher">
        <span class="ear"></span>
        <span id="listening-num"><%-data.audienceNum%></span>
      </div>
      <img id="musixiser-avatar" src="<%-data.userAvatar%>">
      <h2 id="musixiser-name"><%-data.name%></h2>
      <h3 id="musixiser-title"><%-data.stageTitle%></h3>
      <h3 id="musixiser-duration"><span id="minute"><%-data.ellapseTime[0]%></span>:<span id="second"><%-data.ellapseTime[1]%></span></h3>
    </div>
    
    <div id="tl-musixiser-msg">
      <ul></ul>
    </div>
    
    <div id="tl-audience-msg">
    	<ul></ul>
    </div>
    
    <div id="tl-footer">
      <input id="leaveMessage" placeholder="å‘è¡¨ç•™è¨€:"></input>
      <i>ðŸ†™</i>
      <i>ðŸ†—</i>
      <i>ðŸ†–</i>
      <i>ðŸ†–</i>
    </div>
  </div>