<% for(var i = 0, len = data.musixisers.length; i <len; i++) { %>
    <% var l = data.musixisers[i]; %>
        <li>
            <div class="avatar" data-id="<%-l.userId%>">
                <img src="<%-l.userAvatar%>"  data-id="<%-l.userId%>">
            </div>
            
            <div class="info">
                <span  data-id="<%-l.userId%>"><%-l.name%></span>
                <span  data-id="<%-l.userId%>"><%-l.followerNum%> subscribed</span>
              <!--    <% if(l.online) { %>
                    <span>在线</span>
                <% } else {%>
                    <span>不在线</span>
                <% } %> -->
            </div>
        </li>
<% } %>
