<% for(var i = 0, len = data.works.length; i <len; i++) { %>
    <% var l = data.works[i]; %>
        <li data-id="<%-l.workId%>">
            <div class="info" data-id="<%-l.workId%>">
                <span data-id="<%-l.workId%>"><%-l.name%></span>
                <span data-id="<%-l.workId%>">by <%-l.author%></span>
            </div>
        </li>
<% } %>
